@font-face {
	font-family: myFont;
	src: url("./fonts/SassoonInfantStd.otf");
}

[class~=container] {
	padding-left: 0;
}

[class~=container] {
	padding-bottom: 0;
}

[class~=container] {
	padding-right: 0;
}

[class~=container] {
	padding-top: 0;
}

[class~=container],
[class~=section] {
	margin-left: auto;
}

.headingTitle h1,
[class~=container],
[class~=section] {
	margin-bottom: 0;
}

[class~=container],
[class~=section] {
	margin-right: auto;
}

[class~=boxhead5] h1 {
	font-size: 3vw;
}

[class~=section],
[class~=container] {
	margin-top: 0;
}

[class~=header] [class~=headingTop],
[class~=header] {
	overflow: hidden;
}

[class~=header] {
	padding-bottom: .625pc;
}

[class~=header] [class~=headingTop],
[class~=header] {
	display: flex;
}

[class~=header],
[class~=header] [class~=headingTop] {
	align-items: center;
}

[class~=section] {
	min-height: 37.5pt;
}

[class~=header] [class~=headingTop] {
	margin-top: .625pc;
}

[class~=footer],
[class~=loadPage] {
	position: relative;
}

[class~=loadPage] {
	top: -.625pc;
}

[class~=loadPage] {
	padding-left: .208333333in;
}

.ui-button.ui-state-active:hover,
a[class~=ui-button]:active {
	border-left-width: .010416667in;
}

[class~=loadPage] {
	padding-bottom: .625pc;
}

[class~=loadPage] {
	padding-right: .208333333in;
}

[class~=loadPage] {
	padding-top: .625pc;
}

[class~=loadPage] {
	margin-left: 40px;
}

[class~=loadPage] {
	margin-bottom: 0in;
}

[class~=loadPage] {
	margin-right: 40px;
}

[class~=loadPage] {
	margin-top: 0in;
}

[class~=loadPage] {
	z-index: 1;
}

[class~=loadPage] {
	border-left-width: .3125pc;
}

.headingTitle h1 {
	margin-left: 0;
}

[class~=loadPage] {
	border-bottom-width: .3125pc;
}

[class~=audioPlayerContainer] [class~=play] {
	background: url("./assets/images/play.png");
}

[class~=loadPage] {
	border-right-width: .3125pc;
}

[class~=loadPage] {
	border-top-width: .3125pc;
}

.headingTitle h1 {
	margin-right: 0;
}

[class~=loadPage] {
	border-left-style: solid;
}

[class~=loadPage] {
	border-bottom-style: solid;
}

[class~=loadPage] {
	border-right-style: solid;
}

[class~=loadPage] {
	border-top-style: solid;
}

[class~=audioPlayerContainer] [class~=pause] {
	background: url("./assets/images/pause.png");
}

[class~=loadPage] {
	border-left-color: #f5821f;
}

.ui-button.ui-state-active:hover,
a[class~=ui-button]:active {
	border-bottom-width: .010416667in;
}

[class~=loadPage] {
	border-bottom-color: #f5821f;
}

[class~=loadPage] {
	border-right-color: #f5821f;
}

[class~=loadPage] {
	border-top-color: #f5821f;
}

[class~=loadPage] {
	border-image: none;
}

[class~=header] [class~=box1] {
	width: 8%;
}

[class~=loadPage] {
	border-radius: 1.25pc;
}

[class~=loadPage] {
	background-color: #fff;
}

a[class~=ui-button]:active,
.ui-button.ui-state-active:hover {
	border-right-width: .010416667in;
}

body {
	font-family: myFont;
}

[class~=footer] {
	width: 100%;
}

[class~=header] [class~=box1] {
	display: inline-block;
}

[class~=footer] {
	background: #deecf6;
}

[class~=footer] {
	display: flex;
}

[class~=footer] {
	margin-top: -15px;
}

[class~=header] [class~=box1] {
	margin-left: 2%;
}

[class~=footer] {
	padding-top: .15625in;
}

[class~=footer] {
	overflow: hidden;
}

[class~=footer] {
	align-items: center;
}

a[class~=ui-button]:active,
.ui-button.ui-state-active:hover {
	border-top-width: .010416667in;
}

[class~=pageNumber] {
	border-left-width: .1875pc;
}

[class~=header] [class~=box1] {
	margin-bottom: 1%;
}

[class~=pageNumber] {
	border-bottom-width: .1875pc;
}

[class~=pageNumber] {
	border-right-width: .1875pc;
}

[class~=header] [class~=box1] {
	margin-right: 0%;
}

[class~=pageNumber] {
	border-top-width: .1875pc;
}

[class~=header] [class~=box1] {
	margin-top: 1%;
}

[class~=pageNumber] {
	border-left-style: solid;
}

.showAnsBtn img,
.headingTitle h1 {
	margin-top: 0;
}

[class~=pageNumber] {
	border-bottom-style: solid;
}

[class~=pageNumber] {
	border-right-style: solid;
}

[class~=pageNumber] {
	border-top-style: solid;
}

.headingTitle h1 {
	font-size: .395833333in;
}

[class~=pageNumber] {
	border-left-color: #0fa0c5;
}

[class~=pageNumber] {
	border-bottom-color: #0fa0c5;
}

[class~=pageNumber] {
	border-right-color: #0fa0c5;
}

[class~=ui-slider-horizontal] [class~=ui-slider-handle] {
	top: -.6em;
}

.showAnsBtn img {
	margin-left: auto;
}

[class~=pageNumber] {
	border-top-color: #0fa0c5;
}

[class~=pageNumber] {
	border-image: none;
}

[class~=pageNumber] {
	border-radius: .8125pc;
}

[class~=pageNumber] {
	font-weight: bold;
}

[class~=pageNumber] {
	font-size: 22.5pt;
}

[class~=ui-slider-horizontal] [class~=ui-slider-handle] {
	margin-left: -.6em;
}

[class~=pageNumber] {
	line-height: 51pt;
}

[class~=pageNumber] {
	height: 57pt;
}

body,
.showAnsBtn img {
	margin-bottom: 0;
}

[class~=pageNumber] {
	background-color: #fff;
}

.showAnsBtn img {
	margin-right: auto;
}

[class~=ui-slider-horizontal] [class~=ui-slider-handle],
.reloadBtnAll,
[class~=nextBtn],
[class~=audioPlayerContainer] #pButton,
[class~=backBtn],
[class~=closeBtn],
[class~=resourseBtn],
[class~=showAnsBtn],
[class~=helpBtn],
[class~=titleAudio],
.reloadBtnScreen {
	cursor: pointer;
}

.resoursePopup,
[class~=helpPopup] {
	position: fixed;
}

[class~=helpPopup],
.resoursePopup,
.audioDragContainer,
[class~=audioDragger] {
	width: 100%;
}

[class~=helpPopup],
.resoursePopup {
	height: 100%;
}

[class~=correctTick]::after {
	content: " ";
}

[class~=helpPopup],
.resoursePopup {
	background-color: rgba(255, 255, 255, .8);
}

[class~=correctTick]::after {
	background: url("./assets/images/tickMark.png");
}

[class~=helpPopup],
.resoursePopup {
	top: 0;
}

[class~=ui-slider-horizontal] [class~=ui-slider-handle] {
	border-radius: 50%;
}

.resoursePopup,
[class~=helpPopup] {
	left: 0;
}

#container,
[class~=correctTick]::after,
[class~=closeBtn] {
	position: absolute;
}

.resoursePopup,
[class~=helpPopup] {
	display: none;
}

body {
	margin-left: 0;
}

.resoursePopup,
[class~=helpPopup] {
	z-index: 2;
}

[class~=ui-widget][class~=ui-widget-content] {
	border-left-width: .0625pc;
}

a[class~=ui-button]:active,
[class~=ui-widget][class~=ui-widget-content],
.ui-button.ui-state-active:hover {
	border-left-style: solid;
}

[class~=ui-widget][class~=ui-widget-content] {
	border-bottom-width: .0625pc;
}

[class~=ui-widget][class~=ui-widget-content] {
	border-right-width: .0625pc;
}

body,
[class~=marginNone] {
	margin-right: 0;
}

[class~=ui-widget][class~=ui-widget-content] {
	border-top-width: .0625pc;
}

.ui-button.ui-state-active:hover,
a[class~=ui-button]:active,
[class~=ui-widget][class~=ui-widget-content] {
	border-bottom-style: solid;
}

[class~=correctTick]::after {
	top: -37.5pt;
}

[class~=closeBtn] {
	right: 7.5pt;
}

[class~=closeBtn] {
	top: .5pc;
}

[class~=ui-widget][class~=ui-widget-content],
.ui-button.ui-state-active:hover {
	border-right-style: solid;
}

[class~=closeBtn] {
	z-index: 1;
}

[class~=disabled] {
	opacity: .6;
}

[class~=disabled] {
	cursor: default;
}

.ui-button.ui-state-active:hover,
[class~=ui-widget][class~=ui-widget-content] {
	border-top-style: solid;
}

[class~=ui-widget][class~=ui-widget-content] {
	border-left-color: #c5c5c5;
}

[class~=audioDragger] {
	height: 55px;
}

[class~=audioDragger],
[class~=audioDrag] {
	position: relative;
}

.audioDragContainer {
	background: url("../assets/images/timeline.png") no-repeat;
}

[class~=correctTick]::after,
[class~=inlineblock],
[class~=box1],
[class~=box2] {
	display: inline-block;
}

[class~=ui-widget][class~=ui-widget-content] {
	border-bottom-color: #c5c5c5;
}

.audioDragContainer,
[class~=audioDrag] {
	height: .9375pc;
}

.audioDragContainer {
	top: 40%;
}

[class~=ui-widget][class~=ui-widget-content] {
	border-right-color: #c5c5c5;
}

[class~=audioDrag],
.audioDragContainer {
	cursor: pointer;
}

[class~=ui-widget][class~=ui-widget-content] {
	border-top-color: #c5c5c5;
}

[class~=audioDrag] {
	width: 15px;
}

[class~=audioDrag] {
	background-color: #fff;
}

[class~=audioDrag] {
	border-radius: 50%;
}

[class~=audioDrag] {
	top: 0pt;
}

[class~=audioDrag] {
	-webkit-transition: left 2s;
}

[class~=audioDrag] {
	transition: left 2s;
}

[class~=audioDrag] {
	left: 0;
}

[class~=marginNone] {
	margin-left: 0;
}

[class~=marginNone] {
	margin-bottom: 0;
}

body,
[class~=marginNone] {
	margin-top: 0;
}

[class~=ui-widget][class~=ui-widget-content] {
	border-image: none;
}

.paddingNone,
body {
	padding-left: 0;
}

body,
.paddingNone {
	padding-bottom: 0;
}

.paddingNone {
	padding-right: 0;
}

a[class~=ui-button]:active,
.ui-widget-content .ui-state-active {
	border-right-style: solid;
}

.paddingNone {
	padding-top: 0;
}

[class~=marginBottom-10] {
	margin-bottom: .104166667in;
}

.marginBottom-20 {
	margin-bottom: 15pt;
}

[class~=marginBottom-30] {
	margin-bottom: 1.875pc;
}

[class~=correctTick]::after {
	height: 37.5pt;
}

.marginBottom-40 {
	margin-bottom: 2.5pc;
}

[class~=ui-widget][class~=ui-widget-content] {
	top: 11.5px;
}

[class~=marginBottom-50] {
	margin-bottom: .520833333in;
}

[class~=marginTop-10] {
	margin-top: 7.5pt;
}

.ui-widget-content .ui-state-active {
	border-left-width: .010416667in;
}

[class~=correctTick]::after {
	width: 37.5pt;
}

[class~=marginTop-20] {
	margin-top: 1.25pc;
}

[class~=marginTop-30] {
	margin-top: 1.875pc;
}

[class~=marginTop-40] {
	margin-top: 2.5pc;
}

[class~=marginTop-50] {
	margin-top: 37.5pt;
}

.ui-widget-content .ui-state-active {
	border-bottom-width: .010416667in;
}

.ui-widget-content .ui-state-active {
	border-right-width: .010416667in;
}

[class~=box1] {
	width: 8%;
}

.ui-widget-content .ui-state-active {
	border-top-width: .010416667in;
}

[class~=box1] {
	margin-left: 2%;
}

.box3,
[class~=box2],
[class~=box1],
[class~=boxhead5] {
	margin-bottom: 1%;
}

[class~=box1] {
	margin-right: 2%;
}

[class~=boxhead5],
[class~=box1],
.box3,
[class~=box2] {
	margin-top: 1%;
}

[class~=box2] {
	width: 10%;
}

.box3,
[class~=box2],
[class~=boxhead5] {
	margin-left: 1%;
}

[class~=box2],
[class~=boxhead5],
.box3 {
	margin-right: 1%;
}

.ui-widget-content .ui-state-active {
	border-left-style: solid;
}

[class~=correctTick]::after {
	background-size: contain;
}

.ui-widget-content .ui-state-active,
.ui-button.ui-state-active:hover {
	border-left-color: #c5c5c5;
}

.ui-widget-content .ui-state-active {
	border-bottom-style: solid;
}

.box3 {
	width: 46%;
}

.box3,
[class~=box4],
[class~=boxhead5],
[class~=incorrectTick]::after {
	display: inline-block;
}

a[class~=ui-button]:active,
.ui-widget-content .ui-state-active {
	border-top-style: solid;
}

[class~=box4] {
	width: 13%;
}

#container {
	left: 0;
}

[class~=box4] {
	text-align: center;
}

.ui-button.ui-state-active:hover,
.ui-widget-content .ui-state-active {
	border-bottom-color: #c5c5c5;
}

[class~=boxhead5] {
	width: 95%;
}

[class~=correctTick]::after {
	margin-left: -15pt;
}

.ui-button.ui-state-active:hover,
.ui-widget-content .ui-state-active {
	border-right-color: #c5c5c5;
}

.ui-widget-content .ui-state-active,
.ui-button.ui-state-active:hover {
	border-top-color: #c5c5c5;
}

[class~=ui-slider-horizontal] {
	height: .2em;
}

[class~=incorrectTick]::after {
	content: " ";
}

.page_content {
	width: 1280px;
}

.page_content {
	height: 960px;
}

[class~=incorrectTick]::after {
	background: url("./assets/images/crossMark.png");
}

.page_content {
	-ms-transform-origin: top left;
}

.page_content {
	-webkit-transform-origin: top left;
}

.page_content {
	transform-origin: left top;
}

.page_content {
	-webkit-transition: all 500ms ease-in-out !important;
}

.page_content {
	transition: all 500ms ease-in-out !important;
}

.page_content,
[class~=incorrectTick]::after {
	position: absolute;
}

[class~=controlsinline] {
	margin-left: 1.625pc;
}

[class~=controlsinline] {
	margin-bottom: 1.625pc;
}

body {
	padding-right: 0;
}

.ui-button.ui-state-active:hover,
.ui-widget-content .ui-state-active {
	border-image: none;
}

[class~=controlsinline] {
	margin-right: 1.625pc;
}

[class~=controlsinline] {
	margin-top: 1.625pc;
}

[class~=container-fluid] {
	max-width: 960pt;
}

[class~=container-fluid] {
	max-height: 960px;
}

[class~=container-fluid] {
	overflow: hidden;
}

[class~=container-fluid] {
	height: 100%;
}

[class~=container-fluid] {
	width: 100%;
}

[class~=noPadding] {
	padding-left: 0 !important;
}

[class~=noPadding] {
	padding-bottom: 0 !important;
}

[class~=noPadding] {
	padding-right: 0 !important;
}

[class~=noPadding] {
	padding-top: 0 !important;
}

.ui-button.ui-state-active:hover,
.ui-widget-content .ui-state-active {
	background: #f6f6f6;
}

[class~=incorrectTick]::after {
	top: -50px;
}

.ui-widget-content .ui-state-active {
	cursor: pointer;
}

[class~=header] {
	display: flex;
}

[class~=header] {
	height: 80px;
}

[class~=pageContainer] {
	padding-left: 1.5625pc;
}

[class~=pageContainer] {
	padding-bottom: 0;
}

[class~=pageContainer] {
	padding-right: 1.5625pc;
}

a[class~=ui-button]:active {
	border-left-color: #c5c5c5;
}

[class~=ui-widget-header] [class~=ui-state-active] {
	border-left-width: .010416667in;
}

[class~=pageContainer],
body {
	padding-top: 0;
}

[class~=ui-widget-header] [class~=ui-state-active] {
	border-bottom-width: .010416667in;
}

[class~=pageContent] {
	position: relative;
}

[class~=pageContent] {
	padding-left: 1.25pc;
}

[class~=pageContent] {
	padding-bottom: .104166667in;
}

[class~=pageContent] {
	padding-right: 1.25pc;
}

[class~=pageContent] {
	padding-top: .104166667in;
}

[class~=pageContent] {
	z-index: 1;
}

[class~=pageContent] {
	border-left-width: 3.75pt;
}

[class~=pageContent] {
	border-bottom-width: 3.75pt;
}

[class~=pageContent] {
	border-right-width: 3.75pt;
}

[class~=pageContent] {
	border-top-width: 3.75pt;
}

[class~=ui-widget-header] [class~=ui-state-active] {
	border-right-width: .010416667in;
}

[class~=ui-widget-header] [class~=ui-state-active],
[class~=pageContent] {
	border-left-style: solid;
}

[class~=incorrectTick]::after {
	height: 35.25pt;
}

[class~=ui-widget-header] [class~=ui-state-active] {
	border-top-width: .010416667in;
}

[class~=ui-widget-header] [class~=ui-state-active],
[class~=pageContent] {
	border-bottom-style: solid;
}

[class~=incorrectTick]::after {
	width: 48px;
}

a[class~=ui-button]:active {
	border-bottom-color: #c5c5c5;
}

[class~=incorrectTick]::after {
	background-size: contain;
}

[class~=ui-widget-header] [class~=ui-state-active],
[class~=pageContent] {
	border-right-style: solid;
}

a[class~=ui-button]:active {
	border-right-color: #c5c5c5;
}

[class~=ui-widget-header] [class~=ui-state-active],
[class~=pageContent] {
	border-top-style: solid;
}

[class~=pageContent] {
	border-left-color: #f5821f;
}

[class~=pageContent] {
	border-bottom-color: #f5821f;
}

[class~=pageContent] {
	border-right-color: #f5821f;
}

[class~=pageContent] {
	border-top-color: #f5821f;
}

[class~=pageContent] {
	border-image: none;
}

[class~=resourseContainer],
[class~=pageContent] {
	border-radius: 1.25pc;
}

[class~=pageContent] {
	background-color: #fff;
}

[class~=pageBg] {
	background-color: #0fa0c5;
}

[class~=pageBg] {
	position: absolute;
}

[class~=incorrectTick]::after {
	margin-left: -1.25pc;
}

[class~=pageBg] {
	left: 0;
}

[class~=pageBg] {
	top: .9375pc;
}

[class~=noPaddingRt] {
	padding-right: 0 !important;
}

[class~=noPaddingLt] {
	padding-left: 0 !important;
}

.controlsDiv {}

.controlsDiv {
	height: 4.75pc;
}

body {
	font-size: 1pc;
}

[class~=carousel-inner] {
	margin-top: 15%;
}

.ui-button.ui-state-active:hover {
	cursor: pointer;
}

[class~=resourseContainer] {
	position: relative;
}

[class~=resourseContainer] {
	position: fixed;
}

a[class~=ui-button]:active {
	border-top-color: #c5c5c5;
}

[class~=helpContainer],
[class~=resourseContainer] {
	width: 13.125in;
}

[class~=resourseContainer],
[class~=helpContainer] {
	height: 345pt;
}

[class~=resourseContainer],
[class~=helpContainer] {
	background-color: #fff;
}

[class~=resourseContainer] {
	border-left-width: .052083333in;
}

[class~=resourseContainer] {
	border-bottom-width: .052083333in;
}

[class~=resourseContainer] {
	border-right-width: .052083333in;
}

[class~=resourseContainer] {
	border-top-width: .052083333in;
}

body {
	overflow: hidden;
}

[class~=ui-widget-header] [class~=ui-state-active] {
	border-left-color: #c5c5c5;
}

[class~=resourseContainer] {
	border-left-style: solid;
}

[class~=resourseContainer] {
	border-bottom-style: solid;
}

[class~=resourseContainer] {
	border-right-style: solid;
}

[class~=resourseContainer] {
	border-top-style: solid;
}

[class~=resourseContainer] {
	border-left-color: #f5821f;
}

[class~=resourseContainer] {
	border-bottom-color: #f5821f;
}

[class~=resourseContainer] {
	border-right-color: #f5821f;
}

body {
	-webkit-user-select: none;
}

[class~=resourseContainer] {
	border-top-color: #f5821f;
}

a[class~=ui-button]:active,
[class~=resourseContainer] {
	border-image: none;
}

[class~=resourseContainer],
[class~=helpContainer] {
	padding-left: 15pt;
}

[class~=resourseContainer],
[class~=helpContainer] {
	padding-bottom: 15pt;
}

[class~=resourseContainer],
[class~=helpContainer] {
	padding-right: 15pt;
}

[class~=helpContainer],
[class~=resourseContainer] {
	padding-top: 15pt;
}

[class~=resourseContainer],
[class~=helpContainer] {
	top: 51%;
}

[class~=resourseContainer],
[class~=helpContainer] {
	left: 50%;
}

[class~=resourseContainer],
[class~=helpContainer] {
	transform: translate(-50%, -50%);
}

[class~=helpContainer] {
	position: relative;
}

[class~=helpContainer] {
	position: fixed;
}

[class~=helpContainer] {
	border-left-width: .052083333in;
}

[class~=helpContainer] {
	border-bottom-width: .052083333in;
}

[class~=helpContainer] {
	border-right-width: .052083333in;
}

[class~=helpContainer] {
	border-top-width: .052083333in;
}

[class~=helpContainer] {
	border-left-style: solid;
}

[class~=helpContainer] {
	border-bottom-style: solid;
}

[class~=helpContainer] {
	border-right-style: solid;
}

[class~=ui-button]:active,
[class~=ui-widget-header] [class~=ui-state-active],
[class~=ui-state-active],
a[class~=ui-button]:active {
	background: #f6f6f6;
}

[class~=helpContainer] {
	border-top-style: solid;
}

[class~=helpContainer] {
	border-left-color: #f5821f;
}

[class~=helpContainer] {
	border-bottom-color: #f5821f;
}

[class~=ui-widget-header] [class~=ui-state-active] {
	border-bottom-color: #c5c5c5;
}

[class~=ui-widget-header] [class~=ui-state-active] {
	border-right-color: #c5c5c5;
}

body {
	-moz-user-select: none;
}

[class~=helpContainer] {
	border-right-color: #f5821f;
}

[class~=helpContainer] {
	border-top-color: #f5821f;
}

[class~=helpContainer] {
	border-image: none;
}

[class~=helpContainer] {
	border-radius: 1.25pc;
}

body {
	-ms-user-select: none;
}

[class~=ui-state-active] {
	border-left-width: .010416667in;
}

[class~=ui-state-active] {
	border-bottom-width: .010416667in;
}

[class~=ui-state-active] {
	border-right-width: .010416667in;
}

[class~=ui-state-active] {
	border-top-width: .010416667in;
}

[class~=ui-state-active] {
	border-left-style: solid;
}

[class~=ui-state-active],
[class~=ui-widget-header] [class~=ui-state-active],
[class~=ui-button]:active,
a[class~=ui-button]:active {
	cursor: pointer;
}

[class~=ui-state-active] {
	border-bottom-style: solid;
}

[class~=ui-state-active] {
	border-right-style: solid;
}

[class~=ui-state-active] {
	border-top-style: solid;
}

[class~=ui-state-active] {
	border-left-color: #c5c5c5;
}

[class~=ui-state-active],
[class~=ui-widget-header] [class~=ui-state-active] {
	border-top-color: #c5c5c5;
}

body {
	user-select: none;
}

[class~=ui-state-active] {
	border-bottom-color: #c5c5c5;
}

[class~=ui-widget-header] [class~=ui-state-active] {
	border-image: none;
}

[class~=template1_v2] [class~=incorrectTick]::after {
	animation-name: crossBlinker;
}

body {
	color: #000;
}

[class~=ui-state-active],
[class~=ui-button]:active {
	border-right-color: #c5c5c5;
}

[class~=ui-state-active] {
	border-image: none;
}

[class~=floatNone] {
	margin-left: auto;
}

[class~=floatNone] {
	margin-bottom: 0;
}

body {
	margin-left: 0pc;
}

body {
	margin-bottom: 0pc;
}

[class~=floatNone] {
	margin-right: auto;
}

body {
	margin-right: 0pc;
}

[class~=ui-button]:active {
	border-left-width: .010416667in;
}

[class~=floatNone] {
	margin-top: 0;
}

[class~=floatNone] {
	float: none !important;
}

[class~=marginTop-60] {
	margin-top: 45pt;
}

body {
	margin-top: 0pc;
}

body {
	overflow: hidden;
}

[class~=ui-button]:active {
	border-bottom-width: .010416667in;
}

[class~=ui-button]:active {
	border-right-width: .010416667in;
}

[class~=ui-button]:active {
	border-top-width: .010416667in;
}

[class~=ui-button]:active {
	border-left-style: solid;
}

[class~=template1_v2] [class~=incorrectTick]::after {
	animation-duration: 1s;
}

[class~=template1_v2] [class~=incorrectTick]::after {
	opacity: 0;
}

[class~=ui-button]:active {
	border-bottom-style: solid;
}

[class~=ui-button]:active {
	border-right-style: solid;
}

[class~=ui-button]:active {
	border-top-style: solid;
}

[class~=ui-button]:active {
	border-left-color: #c5c5c5;
}

[class~=ui-button]:active {
	border-bottom-color: #c5c5c5;
}

[class~=ui-button]:active {
	border-top-color: #c5c5c5;
}

[class~=ui-button]:active {
	border-image: none;
}

#container {
	top: 0;
}

#container {
	right: 0;
}

#container {
	bottom: 0;
}

.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('./assets/Spin-Preloader/48x48.gif') 50% 50% no-repeat rgb(255, 255, 255);
}
